body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  margin: auto 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 10px;
}

.tabs {
  display: flex;
}

.tabs > li {
  padding: 5px 10px;
  background-color: #ccc;
  border-radius: 10px 10px 0 0;
}

.tabs > li.active, .contents > section{
  background-color: rgb(255, 240, 157);
}

.contents > section {
  height: 300px;
  padding: 5px;
}

.contents > section.inactive {
  display: none;
}

.buylist > div{
  display: flex;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  vertical-align: middle;
}
.buylist > div > p {
  flex-grow: 1;
}

.buylist > div > p.selected {
  background-color: rgb(134, 255, 140);
}
