body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 5px;
}

.tabs {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
}

.tabs > li {
  padding: 10px;
  background-color: #ccc;
  border-radius: 10px 10px 0 0;
}

.tabs > li.active, .contents > section{
  background-color: rgb(255, 240, 157);
}

.contents > section {
  height: 300px;
}

.contents > section.inactive {
  display: none;
}
